@font-face {
  font-family: fontevisor;
  src: url(/fontes/Calculator.ttf);
}

body {
  background-color: #96d4d4;
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  background-color: rgb(49, 49, 49);
  width: 400px;
  height: 500px;
  padding: 25px;
}

.visor {
  font-family: fontevisor;
  background-color: #988e74;
  width: 350px;
  height: 90px;
  font-size: 50pt;
  position: relative;
}

.digitos {
  margin-top: 5%;
  font-size: 50pt;
}

button {
  background-color: #474747;
}
button p {
  color: white;
}
